:root {
  /* Colors */
  --clr-primary-500: hsl(257, 40%, 49%);
  --clr-primary-300: hsl(300, 69%, 71%);
  --clr-accent-100: hsl(0, 0%, 100%);

  /* Font family */
  --ff-heading: "Poppins", sans-serif;
  --ff-text: "Open Sans", sans-serif;

  /* Font size */
  --fs-default: 1rem;
  --fs-title: 1.5rem;

  /* Font weight */
  --fw-regular: 400;
  --fw-bold: 600;

  /* Spacing */
  --content-spacing: 3rem;
  --content-padding: 2rem 2.2rem;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Make images responsive */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General/Generic */
body {
  background-color: var(--clr-primary-500);
  color: var(--clr-accent-100);
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-default);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 1.5;
  min-height: 100svh;
}

/* Typography */
.content-title {
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
}

/* Layout */
header {
  padding: var(--content-padding);
}

.logo {
  width: 7.5rem;
}

.container {
  padding: var(--content-padding);
  text-align: center;

  display: grid;
  gap: var(--content-spacing);
  place-items: center;
}

.main-content {
  display: grid;
  gap: 1.5rem;
  place-items: center;
}

.btn {
  display: inline-block;
  background-color: var(--clr-accent-100);
  color: var(--clr-primary-500);
  padding: 0.8em 6.5em;
  font-family: var(--ff-heading);
  font-weight: var(--fw-normal);
  font-size: 0.75rem;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.social-list {
  padding: 0;
  margin: 3rem 0 2rem;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-link {
  border-radius: 50%;
  border: 1px solid var(--clr-accent-100);
  color: var(--clr-accent-100);
  padding: 0.4em 0.7em;
  cursor: pointer;
}

@media (min-width: 50em) {
  :root {
    --content-padding: 2rem 4rem;
    --fs-title: 2.5rem;
    --fs-default: 1.125rem;
  }

  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: 90% 100%;

    display: grid;
    place-content: center;
  }

  .logo {
    width: 12.5rem;
  }

  .container {
    text-align: start;
    grid-template-columns: 1fr 0.65fr;
    justify-items: start;
    gap: 0;
  }

  .main-content {
    justify-items: start;
  }

  .btn {
    font-size: 1.125rem;
    padding: 1em 4em;
  }

  .social-list {
    margin: 0 5rem 0 0;
    justify-content: end;
  }

  .social-link {
    font-size: 1.125rem;
  }
}
