@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --clr-primary: hsl(257, 40%, 49%);
    --clr-secondary:hsl(300, 69%, 71%);
    --clr-footer:hsl(228, 45%, 44%);

    --fw-normal: 400;
    --fw-bold: 600;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin-top: 0;
}

body{
    margin: 0;
    font-family: var(--ff-body);
    background-color: var(--clr-primary);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    line-height: 1.5;
    min-height: 100svh;

    display: grid;
    place-items: center;
}

.wrapper{
    display: grid;
    padding: 2rem 2.3rem;
}

.logo{
    margin-bottom: 3.5rem;
}

.image{
    max-width: 100%;
    object-fit: cover;
}

.logo-image{
    max-width: 41%;
}

.main-image{
    margin-bottom: 3rem;
}

.content{
    text-align: center;
}

.title{
    font-family: var(--ff-heading);
}

.description{
    font-weight: 
}

.attribution {
  font-size: .8rem;
  text-align: center;
}

.attribution a {
  color: var(--clr-footer);
}
