@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --clr-primary: hsl(257, 40%, 49%);
    --clr-secondary:hsl(300, 69%, 71%);
    --clr-footer:hsl(228, 45%, 44%);

    --fw-normal: 400;
    --fw-bold: 600;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin-top: 0;
}

body{
    margin: 0;
    font-family: var(--ff-body);
    background-color: var(--clr-primary);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    line-height: 1.5;
    min-height: 100svh;

    display: grid;
    place-items: center;
}

.wrapper{
    display: grid;
    place-items: center;
    padding: 2rem 2.3rem;
}

.logo{
    justify-self: start;
    margin: 2rem 0rem 1.5rem 2.3rem;
}

.image{
    max-width: 100%;
    object-fit: cover;
}

.logo-image{
    max-width: 50%;
}


.main-image{
    margin-bottom: 3rem;
}

.content{
    text-align: center;
    margin-bottom: 4rem;
}

.title{
    font-family: var(--ff-heading);
}

.description{
    font-weight: var(--fw-normal);
    opacity: .9;
    margin-bottom: 1.5rem;
}

.btn{
    display: inline-block;
    background-color: white;
    color: var(--clr-primary);
    padding: .7rem 5rem;
    border-radius: 2rem;
    font-weight: var(--fw-normal);
    font-size: .9rem;
    text-decoration: none;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.icon{
    border: 1px solid white;
    padding: .5rem;
    border-radius: 50%;
    fill: white;
}

.attribution {
  font-size: .75rem;
  text-align: center;
}

.attribution a {
  color: var(--clr-secondary);
}

@media (min-width: 1200px) {
    body{
        min-height: 100vh;
        background-image: url("./images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        grid-template-rows: min-content 1fr min-content;
    }

    .logo-image{
        max-width: 100%;
    }

    .wrapper{
        grid-template-columns: 1.25fr 1fr;
        padding: 0rem;
    }

    .main-image{
        margin-bottom: 0;
    }

    .content{
        text-align: start;
        margin: 0;
    }

    .title{
        font-size: 2rem;
    }

    .btn{
        font-size: 1rem;
        padding: .7rem 3.5rem;
    }

    .social-icons{
        margin: 0;
        grid-column: 2/3;
        justify-self: end;
    }
}